html{
  background-image: url("bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 22vh;
}

.Alpha {
  text-align: center;
  font-size: 3vmin;
}

.Title{
  text-align: center;
  font-family: 'Vidaloka', serif;
  color: #003FC0;
  font-size: 6.5vmin;
  margin-top: 7vh;
}

.SubTitle{
  text-align: center;
  color: #003FC0;
  font-size: 3.5vmin;
  margin-top: -6vh;
}


/*------매뉴얼------*/
.Manual {
  width: 25vw;
  float: left;
  margin-top: 9vh;
  margin-left: 15%;
  background-color: rgba(255, 255, 255, 0.21);
}


/*------파일 업로드------*/
.UploadPart{
  margin-top: 15vh;
}

.uploadButton{
  width: 3vw; 
  border: none;
  background-color: transparent;
}

.uploadButton:hover{
  cursor:pointer;
}

.fileUploadImg{
  width:100%;
  margin-top: 5vh;
}


/*------분석 시작 버튼------*/
.startButton{
  width: 17vw; 
  height: 20vh;
  float: right;
  margin-right: 23%;
  margin-top: 2%;
  border: none;
  background-color: transparent;
  font-size: 4vmin;
  color: #003FC0;
  font-family: 'JSongMyung-Regular-KO';

  background-image: url("start_white.png");
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: right 2vh;
}

.startButton:hover{
  cursor: pointer;
  color: white;
  background-image: url("start_blue.png");
  background-repeat: no-repeat;
}

.startImg{
  width: 40%;
}



/*------폰트------*/
/*필기체*/
@font-face {
  font-family: 'iceJaram-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*한글 폰트*/
@font-face {
  font-family: 'JSongMyung-Regular-KO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*영어 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
