.Beta {
    text-align: center;
    font-size: 3vmin;
  }
  
.Title{
    font-family: 'Vidaloka', serif;
    color: #003FC0;
    font-size: 6.5vmin;
    margin-top: 7vh;
  }
  
.SubTitle{
    color: #003FC0;
    font-size: 3.5vmin;
    margin-top: -6vh;
    font-family: iceJaram-Rg;
  }



/*------취향 분석 결과------*/
.ResultBox{
  float: left;
  margin-left: 16%;
  margin-top: 3vh;
  width: 30vw;
  height: 70vh;
  font-size: 3.0vmin;
  font-family: 'JSongMyung-Regular-KO';
  color: #003FC0;
}

.smallResultBox{
  border: 1.5px solid #003FC0;;
  background-color: rgba(255, 255, 255, 0.5);
  height: 60vh;
  overflow: auto;
  margin: 3%;
  font-family: iceJaram-Rg;
}

.ChatBox{
  font-size: 3.0vmin;
  margin: 5%;
  margin-bottom: 5%;
  padding: 0.3%;
  background-color: rgba(255, 255, 255);
  color: black;
  /*border: 2px solid black;*/
}

.resultStoreButton{
  width: 15vw; 
  height: 4vh;
  border: none;
  margin-top: -10vh;
  background-color: transparent;
  font-size: 2.2vmin;
  color: #003FC0;
  font-family: 'JSongMyung-Regular-KO';


  background-image: url("download_blue.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: left ;
}

.resultStoreButton:hover{
  cursor: pointer;
  color: white;
  background-image: url("download_white.png");
  background-repeat: no-repeat;
}



/*-----추천 검색------*/
.RecommandBox{
  float: right;
  margin-right: 16%;
  margin-top: 3vh;
  width: 30vw;
  height: 70vh;
  font-size: 3.0vmin;
  font-family: 'JSongMyung-Regular-KO';
  color: #003FC0;
}

.smallRecmdBox{
  border: 1.5px solid #003FC0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 60vh;
  overflow: auto;
  margin: 3%;
  font-family: iceJaram-Rg;
}

.keywordButton{
  font-size: 3.0vmin;  
  width: 20vw;
  border: none;
  margin-top: 5%;
  padding: 2vh;
  background-color: #ffffff;
  font-family: iceJaram-Rg;
}

.keywordButton:hover{
  cursor:pointer;
}



/*------폰트------*/
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
  